{% extends "home/base.html" %}
{% load static %}
{% block body %}

<main>
    <div class="container">
        <div class="intro">
            <h1>You Need Backup</h1>
            <h2>An international multi branch community for gaming & socializing.</h2>
            <br>
        </div>
        <div>
            <a href="">
                <button class="invite-btn">
                    <i class="fab fa-discord"></i>
                    Join Us On Discord
                    <img src="{% static 'images/ynb-logo.png' %}" height="45px" width="45px" alt="">
                </button>
            </a>
        </div>
    </div>
</main>
<section class="about container" id="about">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae delectus deserunt facilis facere tempore, illo repellat sed minima quasi quo culpa totam tenetur fugiat inventore necessitatibus voluptate ipsum. Explicabo, iste!Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel nibh eleifend, fringilla nulla a, sagittis erat. Donec maximus velit non dui condimentum, eget convallis diam luctus. Cras non iaculis ipsum. Vivamus non placerat velit. Nulla imperdiet euismod ante, sed lacinia nulla pellentesque quis. Sed vulputate nunc vitae consectetur aliquam. Curabitur ac nibh ut orci ullamcorper placerat non sit amet est. Maecenas eu massa sit amet neque vehicula accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
</section>
{% endblock %}