/* MC ALBUM PAGE */

.gallery-head{
  padding-top: 11%;
  height: 60vh;
  padding-left: 70px;
}

.gallery-head h1{
  font-size: 4rem;
  margin-bottom: 30px;
}

.gallery-head h2{
  color: white;
  font-size: 3rem;
}

.image-container{
  display: flex;
  margin: 5% 2%;
  border-radius: 5px;
  background: #f3d8cd;

  -webkit-box-shadow: 0px 0px 50px 13px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 50px 13px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 50px 13px rgba(0,0,0,0.5);
}

.image-container .image-description{
  font-size: 1.5rem;
  padding: 50px;
}

.image-container .image-description .credits{
  margin-bottom: 30px;
}

@media(max-width: 800px){
  .gallery-head{
    padding-top: 15%;
  }
  .image-container{
    flex-direction: column;
  }
  .image-container img{
    width: 100%;
    height: auto;
  }
  .image-container .image-description{
    font-size: 1.3rem;
    padding: 20px;
  }
  .image-container .image-description .credits{
    margin-bottom: 10px;
  }
}