/* body{
  background: linear-gradient(to right, black, rgb(65, 65, 65));
} */
.gallery{
  text-align: center;
}
.gallery h1{
  color: black;
  font-size: 50px;
}
.images-container{
  background-color: #D3CBB8;
  margin: 5%;
  display: flex;
  -webkit-box-shadow: 0px 0px 60px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 60px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 60px -1px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.images-container p{
  font-family: 'Roboto', sans-serif;
  margin: 30px;
  text-align: left;
  color: black;
  font-size: 20px;
}

.list-albums{
  margin-top: 30px;
  font-size: 20px;
}

.list-albums ol{
  margin: 30px;
  font-weight: bold;
}
.list-albums a{
  color: orangered;
}

@media(max-width: 1100px){
  .images-container{
    display: grid;
  }
  .images-container img{
    width:100%;
  }
}