@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');


@font-face {
	font-family: 'YNB-special-font';
    src: url("../fonts/Manufaktur_Bold2.otf");
} 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    
    --nav-background: rgba(177, 177, 177, 0.7);
    --footer-background: rgb(41, 41, 41);
    --heading-color: red;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 2.8rem;
    background: rgb(240, 235, 231);
}

.container{
    width: 80%;
    margin: auto;
    padding-top: 12%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'YNB-special-font', sans-serif;
    color: var(--heading-color);
}

a{
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 132, 255);
}

.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    left: 0;
    right: 0;
    background: var(--nav-background);
}

.navbar ul{
    display: flex;
}

.navbar li{
    margin: 5px;
    list-style: none;
}

.navbar a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px;
}

.nav-right li{
    margin-top: 10px;
}

.nav-right a{
    font-size: 2rem;
    padding: 5px 15px;
}

.navbar a:hover{
    border-radius: 30px;
    background: rgba(243, 225, 225, 0.1);
    color: orange;
}
.navbar .hamburger-menu{
    display: none;
}
.navbar .hamburger-menu *{
    background: white;
    height: 5px;
    width: 30px;
    margin: 3px;
    transition: "margin" 1s;
}

.navbar .hamburger-menu:hover{
    cursor: pointer;
}

.site-footer{
    text-align: center;
    background: var(--footer-background);
    padding: 10px;
    font-size: 1.3rem;
}


@media(max-width: 800px){
    .navbar{
        padding: 10px;
        flex-direction: column;
        background-color: rgba(177, 177, 177, 1);
    }
    .navbar .hamburger-menu{
        display: block;
    }
    .nav-right{
        transition: 1s;
        display: none;
    }
    .nav-left{
        transition: 1s;
        display: none;
    }
    .nav-right.expanded,
    .nav-left.expanded{
    display: block;
    }
}

