@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    opacity: 0;
    line-height: 3rem;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
    background: linear-gradient(to right, #ffffff, #abbaab); 
    font-family: 'Roboto', sans-serif;
    color: black;

}
h1, h2, h3, h4, h5, h6{
    color: red;
    font-family: 'Metal Mania', cursive;
}

a{
    text-decoration: none;
}
nav a{
    font-weight: bold;
    font-size: 20px;
    color: rgb(226, 226, 226) !important;
    margin: 0;
    padding: 0;
}
.nav-link{
    padding: 5px;
}
.nav-link:hover{
    background: #000;
}
.navbar-text i{
    font-size: 30px;
}
.site-footer
{
    position: relative;
    bottom: 0;
    font-weight: bold;
    background-color:#26272b;
    padding:25px 25%;
    line-height:24px;
    color:#737373;
    text-align: center;
    height: 100%;
}
footer .links{
    font-size: 20px;
}
footer .links-container{
    display: flex;
    justify-content: space-around;
}
footer .links i{
    font-size: 25px;
    display: grid;
    color: white;
    margin: 10px;
    transition-duration: 0.5s;
}

footer .links i:hover{
    color: silver;
    transform: scale(1.5);
}

footer hr{
    background-color: rgb(51, 51, 51);
}
a:hover{
    text-decoration: none;
}
main {
    color: orange;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4%;
    font-family: 'Metal Mania', cursive;
}
main .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main iframe{
    margin-left: 20px;
}

main h1{
    font-size: 80px;
    color: red;
}
main h2{
    color: orange;
}
main .landing-page-img{
    padding-left: 100px;
}

.invite-btn{
    overflow: hidden;
    max-width:20em;
    font-family: 'Metal Mania', cursive;
    background: black;
    color: white;
    padding: 10px;
    font-size: 30px;
    border-color:rgb(77, 75, 75);
    border-radius: 5px;
    transition-duration: 0.5s;
}
.fa-discord{
    color: rgb(255, 255, 255);
    padding: 5px;
}
.invite-btn:hover{
    color: orange;
}
section{
    text-align: center;
    color: white;
    padding: 3% 5%;
}
section iframe{
    border-radius: 5px;
    border: rgb(44, 44, 44) 1px solid;
}
.about{
    background: url("../images/minecraft_background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}
.about h2{
    color: orangered;
    font-size: 50px;
}
.flip-image{
    transform: rotateY(180deg);
}
.party-poppers-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
section p{
    margin: 10px;
    padding: 10px 20%;
    font-size: 22px;
}
.offering h2{
    color: orangered;
    font-size: 50px;
}
.offering p{
    color: black;
    text-align: left;
}
.dolphin{
    margin-left: 60px;
    position: absolute;
}
@media (max-width: 1100px) {
    main .container {
        padding: 0;
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    iframe{
        margin-top: 20px;
        margin-left: 0px !important;
        max-width: 100%;
    }
    main .landing-page-img{
        padding-left: 0;
    }
    section p{
        padding: 0;
        max-width: 100%;
    }
    .dolphin{
        display: none;
    }
    .about h2{
        font-size: 35px;
    }
    footer .links-container{
        display: grid;
        grid-gap: 10px;
    }
  }

.in-progress{
    padding: 20px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}