.headings{
    padding-top: 11%;
    padding-left: 70px;
    padding-bottom: 30px;
}

.headings h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.headings h2{
    font-size: 1.7rem;
    color: white;
}

.headings h5{
    color: rgb(0, 255, 149);
    font-size: 1rem;
}

.server-detail{
    border-radius: 2px;
    margin: 60px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 54px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 54px 15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 54px 15px rgba(0,0,0,0.75);
    background: linear-gradient(45deg, #DAE2F8, #DAE2F8 50%, #D6A4A4 50%, #D6A4A4);
}

.server-detail h2{
    font-size: 2rem;
}

.server-detail .detail-description{
    margin-top: 20px;
    font-size: 1.3rem;
}

.server-detail .detail-points {
    margin-top: 20px;
    padding-left: 60px;
    font-size: 1.3rem;
}

.server-detail li{
    margin: 30px 0;
}

@media (max-width: 800px){
    .headings{
        padding-top: 13%;
        padding-left: 0;
        padding-bottom: 30px;
        text-align: center;
    }
    .headings h1{
        font-size: 3rem;
    }
    .headings h2{
        font-size: 1.5rem;
    }
    .server-detail{
        border-radius: 2px;
        margin: 0px;
        padding: 10px;
        box-shadow: none;
    }
}