.mc-server{
    color: rgb(70, 70, 70);
    padding: 5%;
}

.inner-container{
    margin-left: 30px;
    padding-left: 20px;
    border-left: rgb(214, 214, 214) 1px solid;
}
.inner-container hr{
    background-color: brown;
}
.server-name{
    font-size: 60px;
    padding: 20px 0;
}
.mc-server p{
    font-size: 18px;
}
.server-details{
    padding: 4% 0;
}

.server-details ul{
    padding-left: 5%;
    font-size: 20px;
}
.server-details ul a{
    color: orangered;
}

.s-detail p{
    padding: 15px;
}

.points{
    padding-left: 60px;
}
.detail-title{
    color: orangered;
    font-size: 20px;
}
li{
    margin: 10px;
}
.list-servers{
    margin-top: 30px;
    font-size: 20px;
}

.list-servers ol{
    font-weight: bold;
    margin: 30px;
}
.list-servers a{
    color: orangered;
}
.creeper-div{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
@media (max-width: 1100px) {
    .creeper-div{
        grid-template-columns: 1fr;
    }
  }
