{% extends "home/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block body %}
<div class="gallery">
	<div class="gallery-head" style="background: url('{{ thumbnail.url }}')";>
		<h1>Gallery</h1>
		<h2>{{ album }}</h2>
	</div>
	{% for pic in pictures %}
	<div class="image-container">
		<img src="{{ pic.image.url }}">
		<div class="image-description">
			<p class="credits">Credits: <b>{{ pic.credits }}</b></p>
			<p>{{ pic.title }}</p>				
		</div>
	</div>
	{% endfor %}


</div>
{% endblock %}