{% extends "home/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/minecraft.css' %}">
{% endblock %}
{% block body %}

<div class="container mc-server">
    <h1 class="server-name">{{ server.name }}</h1>
    <div class="inner-container">
        <span class="text-muted">Created on: {{ server.founded_on }}</span>
        <br>
        <span class="text-muted">Gamemode: {{ server.gamemode.capitalize }}</span>
        <br>
        <br>
        <p>{{ server.description }}</p>

        <div class="server-details">
            <h3>Server Details: </h3>
            <ul>
                <li><a href="#howtojoin">How do I join?</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#rules">Rules</a></li>
            </ul>
        </div>
        <div id="howtojoin" class="s-detail">
            <h2>How to join?</h2>
            <p>{{ server.to_join_info }}</p>
        </div>
        <div id="features" class="s-detail">
            <h2>Features</h2>
            <p>{{ server.features_description }}</p>
            <ul class="points">
                {% for feature in server.serverfeature_set.all %}
                    <li> <span class="detail-title">{{ feature.title }}:</span> <br> {{ feature.feature }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="rules" class="s-detail">
            <h2>Rules</h2>
            <p>{{ server.rules_description }}</p>
            <ul class="points">
                {% for rule in server.serverrule_set.all %}
                    <li><span class="detail-title">{{ rule.title }}:</span> <br> {{ rule.rule }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}