{% extends "home/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/album-server-list.css' %}">
{% endblock %}
{% block body %}

<div class="container list-servers">
    <h1>Minecraft Survival server.</h1>
    <p>The following are the minecraft servers run by the community.</p>
    <ol>
        {% for server in mc_servers %}
            <li><a href="{% url 'mc_server' server_name=server.name %}">{{ server.name }}</a></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}